.nav {
}
.navContainer {
  width: 1300px;
  margin: auto;
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.navLeft {
  flex: 1;
}
.navCenter {
  flex: 4;
}
.navRight {
  flex: 1;
  display: flex;
  gap: 10px;
}

.navList {
  display: flex;
  list-style: none;
  gap: 30px;
}

.btn {
  width: 100px;
  padding: 5px;
  border: none;
  background-color: transparent;
  color: #381ddb;
}

.btnSignup {
  border: 1px solid #381ddb;
}

.active {
  color: #381ddb;
}
