.nav {
  width: 1300px;
  margin: auto;
  padding-top: 50px;
  display: flex;
  gap: 530px;
}

.navLeft {
  display: flex;
  gap: 120px;
  align-items: center;
}

.navList {
  display: flex;
  list-style: none;
  gap: 50px;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
}

.navListItem {
  line-height: 20px;
}

.navRight {
  gap: 40px;
  display: flex;
}

.btn {
  cursor: pointer;
  width: 100px;
  padding: 8px 16px;
  border: none;
  background-color: transparent;
  font-size: 14px;
  color: #381ddb;
}

.btnSignup {
  border: 1px solid #381ddb;
}

.active {
  color: #381ddb;
}
